.gitignore
logs/**

evaluation/datasets/NCERT/ncert-all/
evaluation/datasets/NCERT/ncert-all/**
files/**
files/
test_files/
test_files/**
evaluation/datasets/**
evaluation/datasets
evaluate/datasets.7z

folder_label_generator/clean_generated_data.py
folder_label_generator/data_cleaned.jsonl
folder_label_generator/data_fixedcommas.jsonl
folder_label_generator/validate_split_data.py
folder_label_generator/data.jsonl
.env
