title: "FileSense Docs"

remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "dark"

url: "https://ahhyoushh.github.io"
baseurl: "/FileSense/wiki"

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-include-cache
  - jekyll-seo-tag
  - jekyll-remote-theme

collections:
  wiki:
    output: true
    permalink: /:path/

defaults:
  - scope:
      path: ""
      type: wiki
    values:
      layout: single
      toc: true
      toc_sticky: true
      sidebar:
        nav: wiki
